body {
  background: #fdfdfd;
}

.invalid-feedback {
  display: block;
}

input.invalid {
  border-color: #dc3545;
}

.material-icons:hover {
  cursor: pointer;
}
.header__home-link {
  font-weight: 600;
  color: #fdfdfd;
}
a.nav-link{
  text-decoration: none;
  color: black;
}
